<div class="countries-wrapper" *ngIf="!loading">
    <div class="country" *ngFor="let country of countryList">
        <div class="country-name">Hotels in {{country.country}}</div>
        <div class="average-score">Average score: {{country.averageScore}}</div>
        <!-- <div class="top-hotels-title">Top 3 hotels</div> -->
        <div class="top-three-wrapper">
            <div class="top-hotel" *ngFor="let hotel of country.topThreeHotels">
                <div class="position"></div>
                <div class="info">
                    {{ hotel.name }}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="loading" *ngIf="loading">
    <div class="loading-spinner"></div>
</div>